@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Nunito Sans', sans-serif;
  --color-primary: #FFCE1A;
  --color-secondary: #0D0842;
  --color-blackbg: #0b0809;
  --color-favorite: #FF5841;
}
